<template name="customHeader">
  <div id="nav-main" class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="/resources/logo-white.png" alt="" style="height: 100%"/></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <li class="visible-sm visible-xs mobile-cart"><a href="#">{{> cartIcon}}</a></li>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

              <li class="explore-btn nav-item"><a href="/products">hunt</a></li>


              <li class="nav-item"><a href="/featured-closet">featured closet</a></li>
              <li class="nav-item"><a href="/how-it-works">how it works</a></li>
              <li class="nav-item"><a href="/style-guide">style science</a></li>
              {{#if currentUser}}
              <li class="profile-button nav-item"><a href="/profile/{{userId}}">my closet</a></li>
              {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
              <li class="hidden-xs"><a href="#"><img class="nav-image" src="{{profileImage}}" alt=""></a></li>

            {{/if}}
              <li class="login-dropdown-menu"><a href="#">{{> accounts tpl="loginDropdown"}}</a></li>
              <li><a href="#">{{> cartIcon}}</a></li>
          </ul>
      </div>
  </div>

<div class="container-fluid">
  <!--{{>bootstrapAlerts}}-->
</div>
</template>
