<template name="customHomePageTemplate">
	<div id="landing">
    <div class="row top-row">
      <a href="{{pathFor 'shop'}}">
        <div class="col-xs-12 landing-banner top-banner">
          <p>Begin Hunting</p>
        </div>
      </a>
    </div>
    <div class="row">
      <a href="{{pathFor 'works'}}"><div class="col-xs-12 col-md-6 landing-banner mid-top-right-banner"><p>How it works</p></div></a>
      <a href="{{pathFor 'featuredCloset'}}"><div class="col-xs-12 col-md-6 landing-banner mid-top-left-banner"><p>Featured Closet</p></div></a>
    </div>
    <div class="row">
      <a href="{{pathFor 'aboutUs'}}"><div class="col-xs-12 col-md-6 landing-banner mid-bottom-left-banner"><p>About Us</p></div></a>
      <a href="{{pathFor 'style'}}"><div class="col-xs-12 col-md-6 landing-banner mid-bottom-right-banner"><p>Style Science</p></div></a>
    </div>
  </div>
</template>
